<div class="min-h-screen grid grid-cols-12 w-full background-register">
  <div
    class="fundo__form-register col-start-3 col-span-8 rounded-lg px-8 py-6 my-10"
  >
    <button
      [routerLink]="['/login']"
      class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-base kanit__regular font-medium text-white bg-indigo-400 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      <fa-icon class="mr-1" [icon]="['far', 'circle-left']"></fa-icon>
      Return
    </button>
    <h1
      class="text-2xl kanit__regular font-bold text-center my-5 mb-4 text-white"
    >
      Create account
    </h1>
    <form action="#" [formGroup]="form" autocomplete="off">
      <div class="grid grid-cols-10">
        <div class="mb-4 col-start-3 col-span-6">
          <label
            for="name"
            class="block kanit__regular text-lg font-medium text-white mb-2"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Your name"
          />
        </div>
        <div class="mb-4 col-start-3 col-span-6">
          <label
            for="userPlayer"
            class="block kanit__regular text-lg font-medium text-white mb-2"
            >Login:</label
          >
          <input
            type="text"
            id="userPlayer"
            name="userPlayer"
            formControlName="userPlayer"
            class="input shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Your user"
          />
        </div>
        <div class="mb-4 col-start-3 col-span-6">
          <label
            for="password"
            class="block text-lg kanit__regular font-medium text-white mb-2"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Enter your password"
          />
        </div>
      </div>
      <div class="mb-4 grid grid-cols-3">
        <div class="col-span-3 text-center font-medium text-white my-4">
          <h3
            class="text-xl kanit__regular font-bold text-center mb-4 text-white"
            id="textSelectCard"
          >
            Choose your card main
          </h3>
        </div>
      </div>
      <div
        id="divGridCards"
        class="grid grid-cols-12 gap-4 justify-center md:min-h-[580px]"
      >
        <div class="mx-2 my-4 col-span-4">
          <div
            class="card__register card__bulbasaur cursor-pointer"
            (click)="selectCard('bulbasaur')"
          >
            <img
              class="img_register w-5/6 hover:w-full transition-all"
              src="https://assets.tcgdex.net/pt/sv/sv03.5/001/high.png"
              alt="card pokemon bulbasaur"
            />
          </div>
        </div>
        <div class="mx-2 my-4 col-span-4">
          <div
            class="card__register card__charmander cursor-pointer"
            (click)="selectCard('charmander')"
          >
            <img
              class="img_register w-5/6 hover:w-full transition-all"
              src="https://assets.tcgdex.net/pt/sv/sv03.5/004/high.png"
              alt="card
            pokemon charmander"
            />
          </div>
        </div>
        <div class="mx-2 my-4 col-span-4">
          <div
            class="card__register card__squirtle cursor-pointer"
            (click)="selectCard('squirtle')"
          >
            <img
              class="img_register w-5/6 hover:w-full transition-all"
              src="https://assets.tcgdex.net/pt/sv/sv03.5/007/high.png"
              alt="carta pokemon squirtle"
            />
          </div>
        </div>
      </div>
      <div id="divCaptured" class="mx-2 mt-5 mb-10 hidden justify-center">
        <div class="img__pokebola"></div>
      </div>
      <div class="my-4 flex justify-center">
        <button
          type="submit"
          (click)="onSubmit()"
          class="w-1/4 flex justify-center kanit__regular py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-400 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
